@page "{handler?}"
@model veritabaniCRUD.Pages.silmeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = "Silme";
}

<h1>Silme</h1>
<div class="alert alert-info fade show" role="alert">
    @Model.mesaj
</div>
<div class="row">
    <div class="col-8">
        <form asp-page-handler="Sil" method="post" class="form form-group border rounded border-danger text-center p-2">
            <div class="row">
                <div class="col-6">
                    Silinecek ID<br />
                    <input type="text" name="ID" value="0" maxlength="50" placeholder="sayı giriniz" />
                </div>
                <div class="col-6 pt-2">
                    <button class="btn btn-danger" style="white-space: nowrap;">Sil</button>
                </div>
            </div>
        </form>
    </div>
</div>